.videoComunidad {
  margin-top: 65px;
  width: 100%;
  height: 90vh;
  position: relative;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .mensajeVideo {
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 400px;
    height: 200px;
    background-color: black;
    // box-shadow: 0px 0px 58px 7px rgba(21, 255, 0, 1);
    clip-path: polygon(
      0% 2.5em,
      2.5em 0,
      100% 0,
      100% calc(100% - 2.5em),
      calc(100% - 2.5em) 100%,
      0 100%
    );
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    p {
      color: #01d457;
      text-align: center;
    }
  }
}

.slogan {
    width: 100%;
    height: 150px;
    background-color: #01d457;
    display: flex;
    justify-content: center;
    align-items: center;

    h4 {
        font-size: 35px;
        color: black;
    }
  }

  .imagenComunidad, .imagenComunidad2 {
    width: 100%;
    height: 800px;
    position: relative;
    border-bottom: #01d457 3px solid;

    img {
        width: 100%;
        height: 100%;
    }
  }

  .imagenComunidad {
    div {
        width: 400px;
        height: 700px;
        background-color: black;
        position: absolute;
        bottom: -50%;
        right: 0;
        z-index: 2;
        border-top: #01d457 3px solid;
        border-left: #01d457 3px solid;
        border-bottom: #01d457 3px solid;
        clip-path: polygon(
      0% 2.5em,
      2.5em 0,
      100% 0,
      100% calc(100% - 2.5em),
      calc(100% - 2.5em) 100%,
      0 100%
    );

        h5 {
          color: #01d457;
          font-size: 30px;
          text-align: center;
        }

        p {
          text-align: center;
          color: #01d457;
          padding: 10px 10px 2px 10px;
          font-size: 18px;
        }
    }
  }
